<div id="menu"><a routerLink="">Strona główna</a> </div>
<div id="wycieczkiDiv"><a routerLink="/wycieczki">Wycieczki</a></div>
<div class="basket"><a routerLink="/koszyk"><img src="assets/images/shopping-cart.png" id="basketPhoto"></a></div>

<div id="mainDiv">
    <form [formGroup] = "modelForm" (ngSubmit)="onSubmit(modelForm)">
        <p>Dodaj wycieczkę</p>
        <label>Nazwa wycieczki: </label><input name="nazwa" formControlName="nazwa2">
        <label>Docelowy Kraj wycieczki: </label><input name="docelowyKraj" formControlName="docelowyKraj2">
        <label>Data rozpoczęcia: </label><input name="dataRozpoczecia" formControlName="dataRozpoczecia2" placeholder="DD.MM.YYYY">
        <label>Data zakończenia: </label><input name="dataZakonczenia" formControlName="dataZakonczenia2" placeholder="DD.MM.YYYY">
        <label>Cena wycieczki: </label><input name="cenaJednostkowa" formControlName="cenaJednostkowa2">
        <label>Waluta: </label><input name="waluta" formControlName="waluta2" placeholder="zł/euro/dolar/jen/korona">
        <label>Maksymalna ilość miejsc: </label><input name="maxIloscMiejsc" formControlName="maxIloscMiejsc2">
        <label>Opis wycieczki: </label><input name="opis" formControlName="opis2">
        <label>Ścieżka do zdjęcia: </label><input name="zdjecie" formControlName="zdjecie2">

        <button type="submit">Dodaj wycieczkę</button>
        <p *ngIf="error">Wprowadź poprawne dane</p>
        <p *ngIf="okay">Wycieczka została dodana</p>
    </form>
</div>
