<div class="stars" id={{whichJourney}}>
    <input type="radio" name={{whichJourney.nazwa}} value="5" (click)="isClicked($event)">
    <label for="5"></label>
    <input type="radio" name={{whichJourney.nazwa}} value="4" (click)="isClicked($event)">
    <label for="4"></label>
    <input type="radio" name={{whichJourney.nazwa}} value="3" (click)="isClicked($event)">
    <label for="31"></label>
    <input type="radio" name={{whichJourney.nazwa}} value="2" (click)="isClicked($event)">
    <label for="2"></label>
    <input type="radio" name={{whichJourney.nazwa}} value="1" (click)="isClicked($event)">
    <label for="1"></label>
</div>
<div class="result">Sumaryczna ocena: {{whichJourney.rating}}, łącznie ocen: {{whichJourney.howManyRatings}}</div>



