<div id="body">
    <p id="our">Nasze wycieczki</p>
   
    <div class="journeysDiv" *ngIf="journeys != []"> 
        <div class="journeyDiv" *ngFor="let journey of journeys | filterJourneys: filter"
        [ngClass] = "{'mostExpensive': journey.cenaWZlotowkach == mostExpensiveJourney(journeys, filter),
                    'theCheapest': journey.cenaWZlotowkach == theCheapestJourney(journeys, filter)}">
            <div class="delete" (click)="removeJourney(journey)">Usuń</div>
            <div class="modify"><a routerLink="/modify/{{journey.id}}">Modyfikuj</a></div>
            <img src="{{journey.zdjecie}}">
            <h2>{{journey.nazwa | uppercase}}</h2>
            <h3>{{journey.docelowyKraj | uppercase}}</h3>
            <div class="date">{{journey.dataRozpoczecia + " - " + journey.dataZakonczenia}}</div>
            <div class="price">Cena: {{journey.cenaJednostkowa + " " + journey.waluta}} 
            <div class="newPriceContainer" *ngIf = "journey.waluta != 'zł';">Cena w złotówkach: {{journey.cenaWZlotowkach}} zł</div></div>
            <div class="howMany" [ngStyle] = "{'color': journey.maxIloscMiejsc < 4 ? 'rgb(236, 61, 61)': 'black',
                                              'font-size': journey.maxIloscMiejsc < 4 ? '25px': '15px'}"
             *ngIf = "journey.maxIloscMiejsc != 0; else zeroPoints">Ilość miejsc: {{journey.maxIloscMiejsc}}</div>
            <ng-template #zeroPoints>Brak dostępnych wycieczek</ng-template>
        </div>
    </div>
    <app-dodaj-wycieczki></app-dodaj-wycieczki>


</div>
