#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 220, 224);
    width: 100%;
}

#our{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}


.journeysDiv{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.journeyDiv{
    display: flex;
    flex-direction: column;
    height: 700px;
    width:400px;
    border: 1px solid rgb(248, 150, 167);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    background-color: rgb(245, 205, 211);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
}


.price{
    font-weight: bold;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid rgb(248, 150, 167);
    padding-bottom: 10px;
    height: 40px;
}

.journeyDiv > h2{
    margin-bottom: -20px;
    font-size: 25px;
    text-align: center;
    height: 30px;

}
.journeyDiv > h3{
    text-align: center;
    width: 80%;
    border-bottom: 1px solid rgb(248, 150, 167);
    padding-bottom: 10px;
    margin: 0;
}

.newPriceContainer{
    margin-top: 0px;
    font-size: 13px;
}


img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.desc{
    font-style: italic;
}

.delete{
    position: absolute;
    right: 0px;
    width: 50px;
    top: 0px;
    height: 30px;
    border-radius: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    cursor: pointer;
    background-color:  rgb(236, 61, 61);
}

#reservation > h2{
    padding: 10px;
    width: 600px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.addRemoveButtons{
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.button1{
    width: 50px;
    height: 50px;
    border-radius:20px ;
    border: none;
    cursor: pointer;
    font-weight: 1000;
    color: white;
}

.add{
    background-color: rgb(87, 197, 87);
}

.remove{
    background-color: rgb(236, 61, 61);
}


.mostExpensive{
    border: 3px solid rgb(87, 197, 87);
}

.theCheapest{
    border: 3px solid rgb(236, 61, 61);
}



.formularz{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    margin-top: 100px;
    margin-bottom: 200px;
    border:2px solid rgb(248, 150, 167);
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    width: 250px;
}
.formularz > a{
    text-decoration: none;
    color: black;
    width: 110%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.basket{
    position: absolute;
    right: 10px;
    top: 10px;  
    width: 80px;
    height: 80px;
    background-color: rgb(248, 150, 167);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
}

#basketPhoto{
    border-radius: 0;
    width: 70px;
    height: 70px;
}




#menu{
    position: absolute;
    top:10px;
    left:10px;
    border:2px solid rgb(248, 150, 167);
    border-radius: 10px;
    background-color: pink;
    width: 80px;
    height: 80px;
   
}

#menu > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}



#closestJourney{
    position: absolute;
    right: 10px;
    top: 100px;
    font-size: 20px;
    background-color: rgb(236, 61, 61);
    border-radius: 20px;
    padding: 10px;
    
}






