@media only screen and (min-width: 1200px){
    #container{
        height: 500px;
        width: 700px;
        background-color: rgba(194,194,194,255);
        margin: auto;
        display: flex;
        border: 1px solid black;
    }
    
    #smallerContainer{
        height: 97%;
        width: 97%;
        background-color: rgba(151,151,151,255);
        margin:auto;
        display: grid; 
        border: 1px solid black;
        grid-template-areas: "head head head head"
                             "nav nav nav nav"
                             "leftSide middle middle rightSide"
                             "foot foot foot foot";
        grid-template-rows: 17% 11% 62% 10%;
        grid-template-columns: 25% 30% 30% 15%;
    }
    
    header{
        grid-area: head;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
        padding: 10px;
    }
    
    #logo{
        height: 50%;
        width: 23%;
        background-color: white;
        border: 1px solid black;
        text-align: left;
    }
    
    nav{
        grid-area: nav;
        border-bottom: 1px solid black;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        background-color: white;
    }
    
    
    #left{
        grid-area: leftSide;
        border-right: 1px solid black;
        text-align: center;
        background-color: white
    }
    
    main{
        text-align: center;
        grid-column:  2 / 4;
        border-right: 1px solid black;
        background-color: white
    }
    
    #center{
        grid-area: rightSide;
    }
    
    #right{
        background-color: white
    }
    
    footer{
        grid-area: foot;
        border-top: 1px solid black;
        text-align: center;
    }
}








@media only screen and (max-width: 1200px){
    #container{
        height: 500px;
        width: 700px;
        background-color: rgba(194,194,194,255);
        margin: auto;
        display: flex;
        border: 1px solid black;
    }
    
    #smallerContainer{
        height: 97%;
        width: 97%;
        background-color: rgba(151,151,151,255);
        margin:auto;
        display: grid; 
        border: 1px solid black;
        grid-template-areas: "head head head head"
                             "nav nav nav nav"
                             "leftSide middle middle middle"
                             "rightSide rightSide rightSide rightSide"
                             "foot foot foot foot";
        grid-template-rows: 17% 11% 40% 22% 10%;
        grid-template-columns: 25% 30% 30% 15%;
    }
    
    header{
        grid-area: head;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
        padding: 10px;
    }
    
    #logo{
        height: 50%;
        width: 23%;
        background-color: white;
        border: 1px solid black;
        text-align: left;
    }
    
    nav{
        grid-area: nav;
        border-bottom: 1px solid black;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        background-color: white;
    }
    
    
    #left{
        grid-area: leftSide;
        border-right: 1px solid black;
        text-align: center;
        background-color: white
    }
    
    main{
        text-align: center;
        grid-column:  2 / 5;
        background-color: white
    }
    
    #center{
        grid-area: rightSide;
    }
    
    #right{
        background-color: white;
        grid-column: 1 / 5;
        border-top: 1px solid black;
    }
    
    footer{
        grid-area: foot;
        border-top: 1px solid black;
        text-align: center;
    }
}











@media only screen and (max-width: 800px){
    #container{
        height: 500px;
        width: 100%;
        background-color: rgba(194,194,194,255);
        margin: auto;
        display: flex;
        border: 1px solid black;
    }
    
    #smallerContainer{
        height: 97%;
        width: 97%;
        background-color: rgba(151,151,151,255);
        margin:auto;
        display: grid; 
        border: 1px solid black;
        grid-template-areas: "head "
                             "nav"
                             "leftSide"
                             "main"
                             "rightSide "
                             "foot";
        grid-template-rows: 17% 11% 20% 20% 22% 10%;
        grid-template-columns: 100%;
    }
    
    header{
        grid-area: head;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
        padding: 10px;
    }
    
    #logo{
        display: none;
    }
    
    nav{
        grid-area: nav;
        border-bottom: 1px solid black;
        display: grid;
        text-align: center;
        background-color: white;
    }
    
    
    #left{
        grid-area: leftSide;
        border-bottom: 1px solid black;
        text-align: center;
        background-color: white
    }
    
    main{
        text-align: center;
        background-color: white;
        grid-area: main;
    }
    
    #center{
        grid-area: rightSide;
    }
    
    #right{
        background-color: white;
        border-top: 1px solid black;
        text-align: center;
    }
    
    footer{
        grid-area: foot;
        border-top: 1px solid black;
        text-align: center;
    }
}






