body{
    background-color: rgb(241, 211, 216);
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.menuContainer{
    width: 400px;
    border-radius: 10px;
    overflow: hidden; 
    list-style: none;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    height: auto;
    color: white;
}


.menuContainer > div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.menuContainer > div > label{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: .5s ease;
}

.menuContainer > div > input[type="radio"]{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.pos{
    width: 100%;
    height: 100%;
}

.pos:hover{
    background-color: rgb(179, 73, 108);
}

.menuContainer > div > input[class="mainInput"]:checked ~.pos{
    background-color: rgb(179, 73, 108);
}


input[class="item"]{
    width: 100%;
    height: 100%;
}


.menuContainer > div > input[class="item"] + label{
    display: none;
}

.labelI{
    background-color: rgb(139, 41, 74);
}

.labelI:hover{
    background-color: rgb(73, 11, 32);
}

.menuContainer > div > input[class="mainInput"]:checked ~label{
    display: flex;
}




.menuContainer > div > .pos2{
    display: none;
}

.menuContainer > div > input[id="first"]:checked ~.pos{
    display: none;
}



.menuContainer > div > .pos2{
    display: none;
}

.menuContainer > div > input[id="second"]:checked ~.pos{
    display: none;
}

.menuContainer > div > .pos2{
    display: none;
}

.menuContainer > div > input[id="third"]:checked ~.pos{
    display: none;
}









