<div id="body">
    <div id="reservation">
        <h2 [ngStyle]="{'background-color': howManyReservations(reserved) > 10 ? 'rgb(87, 197, 87)': 'rgb(236, 61, 61)'}">
            Liczba aktualnie zarezerwowanych wycieczek wynosi: {{howManyReservations(reserved)}}</h2>
    </div>

    <div class="journeysDiv"> 
        <div class="journeyDiv" *ngFor="let journey of journeys"
        [ngClass] = "{'mostExpensive': journey.cenaWZlotowkach == mostExpensiveJourney(journeys),
                    'theCheapest': journey.cenaWZlotowkach == theCheapestJourney(journeys)}">
            <div class="delete" (click)="removeJourney(journey)">Usuń</div>
            <img src="{{journey.zdjecie}}">
            <h2>{{journey.nazwa | uppercase}}</h2>
            <h3>{{journey.docelowyKraj | uppercase}}</h3>
            <div class="date">{{journey.dataRozpoczecia + " - " + journey.dataZakonczenia}}</div>
            <div class="price">Cena: {{journey.cenaJednostkowa + " " + journey.waluta}} 
            <div class="newPriceContainer" *ngIf = "journey.waluta != 'zł';">Cena w złotówkach: {{journey.cenaWZlotowkach}} zł</div></div>
            <div class="howMany" [ngStyle] = "{'color': journey.maxIloscMiejsc < 4 ? 'rgb(236, 61, 61)': 'black',
                                              'font-size': journey.maxIloscMiejsc < 4 ? '25px': '15px'}"
             *ngIf = "journey.maxIloscMiejsc != 0; else zeroPoints">Ilość miejsc: {{journey.maxIloscMiejsc}}</div>
            <ng-template #zeroPoints>Brak dostępnych wycieczek</ng-template>
            <p class="desc">{{journey.opis}}</p>
            <div class="addRemoveButtons">
                <button class="button1 add" (click)="addClick(journey)"
                [ngStyle] = "{'display': journey.maxIloscMiejsc == 0 ? 'none': 'block'}">+</button>
                <button class="button1 remove" (click)="removeClick(journey)">-</button>
            </div>
        </div>

    </div>

    <div class="formularz"><app-dodaj-wycieczki (formSubmitEvent) = "formularzEvent($event)"></app-dodaj-wycieczki></div>

    <div class="basket"><app-koszyk [reservedList] = "reservedList"></app-koszyk></div>

</div>
