.nav{
    position: absolute;
    top:10px;
    border:2px solid rgb(248, 150, 167);
    border-radius: 10px;
    background-color: pink;
    width: 80px;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.nav > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav:hover{
    background-color: rgb(248, 150, 167);
}

.nav > a:hover{
    color: white;
}

.menu{
    left:10px;
}



.wycieczkiDiv{
    left:100px;
}


/* .wycieczkiAddDiv{
    left:190px;
} */


.basket{
    left: 190px;
}

#basketPhoto{
    border-radius: 0;
    width: 70px;
    height: 70px;
}

.history{
    left: 280px
}

.logout{
    right:10px;
}

.register{
    right: 10px;
}

.login{
    right: 100px;
}

.nick{
    position: absolute;
    font-size: 20px;
    font-style: italic;
    right: 110px;
    top: 40px;
}

.menagerView{
    left: 370px;
}

.adminView{
    left: 460px;
}