<div id="homeMain">
    <div id="title">
    <p>Z nami podbijesz świat! <br />
        Ferdynand Magellan korzystał z naszych usług i poleca!</p>
    </div>

    <div id="companyData">
        <div id="companyData2">
            <p>ChlepPowszedni</p>
            <p>500 100 202</p>
            <p>ul. Mikołaja Bobołaka 2</p>
            <p>Krakuf</p>
        </div>
        <img src="assets/images/map.jpg" id="photoMap">
    </div>

    <h2>Przejrzyj dostępne <a routerLink="/wycieczki"> wycieczki</a></h2>
</div>
